.article {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  margin-top: 2rem;
}

.profileImage {
  border-radius: 50%;
  margin-left: -2rem;
  margin-bottom: 1rem;
}

.text {
  margin-left: 2rem;
  margin-top: 1rem;
}

.techs {
  display: flex;
  flex-direction: column;
}

.techs span {
  margin: 1rem 0;
}

.techs a {
  text-decoration: none;
  color: var(--primary);
  font-weight: 700;
  transition: all 0.5s ease;
}

.techs a:hover {
  background-color: var(--primary);
  color: #FFFFFF;
  border-radius: 15px;
  padding: 0.5rem;
}

.githubPlugin {
  position: absolute;
  bottom: 2rem;
}
